h1 {
    color: purple;
    text-decoration: underline;

}
body {
    background-color: grey;
    background-image: url(https://dncache-mauganscorp.netdna-ssl.com/thumbseg/1395/1395465-bigthumbnail.jpg);
    text-align: center;
    background-attachment: fixed;
    background-size: contain;
    font-family: helvetica;
    color: white;
}

ul{
    list-style: square;
}

ol{
    list-style: upper-roman;
}
table{
    : center;
    font-size: 12px;
    border: solid green;
    padding: 1em;
}
}
a.web:link{
    color: black;
}

a.web:visited{
    color: orange;
}
a.web:hover{
    font-size: 9em;
    border: dotted purple;
}
.lamp{
    border: solid black;    
}
.foods{
    border: solid black;
}
.question{
    border: solid black;    
}
.website{
    border: solid black;

}









