div{
			/*border: solid black;*/
		}
		body{
			margin: 15px;
		}
		p, nav{
			font-size: 20px;
			margin: 0 0 15px 0;
		}
		span{
			color:#62ca35;
		}
		a{
			color: black;
			text-decoration: none;
		}
		a:hover {
			cursor: pointer;
    		text-decoration: none;
		}
		.navSelect{
			font-size: 25px;
		}
		#navSelected{
			color: black;
		}
		#headerContainer{
			padding-left: 0px;
			padding-right: 0px;
		}
		#rightHeader{
			padding-left: 0px;
		}
		#centerHeader{
			text-align: center;
		}
		#leftHeader{
			padding-right: 0px;
			text-align: right;
			font-size: 20px;
		}
		#welcomeContainer{
			margin-top: 40px; 
			clear: both;
			border:solid #62ca35;
		}
		.welcomeImg{
		    display: block;
		    margin: auto;
		    margin-top: 10%;
		    margin-bottom: 10%;
		}
		#subHeader{
			margin-top: 10px;
			text-align: center;
		}
		#underSubHeader{
			margin-top: 3%;
		}
		#teamDesc{
			font-size: 15px;
		}
		#teamIndividuals{
			margin-top: 4%;
			margin-bottom: 4%;
			width: 775px;
			display: flex;
		}
		#teamPic{
			width: 270px;
		}
		#teamPic > img{
			width: 270px;
		}
		#teamInfo{
			margin-left: 15px;
			width: 60%;
			align-items: stretch;
		}
		#footerBottom{
			background-color: #62ca35;
			color: white;
			border: solid #62ca35;
			margin-top: 70px;
			height: 50px;

		}
		#footerLeft, #footerRight{
			margin-top: 10px;
			text-align: center;
		}